<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=data.head.title%></title>
    <link rel="stylesheet" href="./styles/base.css">
</head>

<body>
    <div class="content">
        <div class="p-tb-20 p-lr-20">
            <p><%=data.body.message%></p>
        </div>
    </div>
</body>

</html>